# Ignore reports folder
nccs_plagiarism/media/reports/

# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
.env

# SQLite database
db.sqlite3

# System files
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Documents
*.pdf
*.docx
*.txt