# Ignore reports folder
nccs_plagiarism/media/reports/

# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
.env

# SQLite database
db.sqlite3

# System files
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Documents and ppt
*.pdf
*.docx
*.txt
*.pptx

# Images / diagrams
*.jpg
*.jpeg
*.png
*.gif
*.svg